<div class="cats">
  <div class="cats_filters">
    <%= erb :stats_options %>

    <table>
      <tr>
        <td class="for">
          <label for="for_against_any">
            <input type="radio" id="for_against_any" name="for_against"
              value="any" <%= checked_for_against('any') %>
              onchange="roll(this)">
            Any
          </label>
          <label for="for_against_all">
            <input type="radio" id="for_against_all" name="for_against"
              value="all" <%= checked_for_against('all') %>
              onchange="roll(this)">
            All
          </label>
        </td>
        <td class="filter" colspan="3">
          <div><strong>Specialization</strong></div>
          <% BattleCatsRolls::Filter::Specialization.each_key do |type| %>
            <label for="<%= type %>">
              <input type="checkbox" name="against" id="<%= type %>"
                value="<%= type %>" <%= checked_against(type) %>
                onchange="roll(this)">
              <%= display_filter(type) %>
            </label>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="for">
          <label for="for_buff_any">
            <input type="radio" id="for_buff_any" name="for_buff"
              value="any" <%= checked_for_buff('any') %>
              onchange="roll(this)">
            Any
          </label>
        </td>
        <td class="filter">
          <div><strong>Buff</strong></div>
          <% BattleCatsRolls::Filter::Buff.each_key do |buff| %>
          <label for="<%= buff %>">
            <input type="checkbox" name="buff" id="<%= buff %>"
             value="<%= buff %>" onchange="roll(this)"
             <%= checked_buff(buff) %>>
            <%= display_filter(buff) %>
          </label>
          <% end %>
        </td>
        <td>
          <label for="for_resistant_or">
            <input type="radio" id="for_resistant_or" name="for_resistant"
              value="or" <%= checked_for_resistant('or') %>
              onchange="roll(this)">
            Or
          </label>
          <label for="for_resistant_and">
            <input type="radio" id="for_resistant_and" name="for_resistant"
              value="and" <%= checked_for_resistant('and') %>
              onchange="roll(this)">
            And
          </label>
        </td>
        <td class="filter">
          <% BattleCatsRolls::Filter::Resistant.each_key do |resistant| %>
          <label for="<%= resistant %>">
            <input type="checkbox" name="resistant" id="<%= resistant %>"
              value="<%= resistant %>" <%= checked_resistant(resistant) %>
              onchange="roll(this)">
            <%= display_filter(resistant) %>
          </label>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="for">
          <label for="for_range_any">
            <input type="radio" id="for_range_any" name="for_range"
              value="any" <%= checked_for_range('any') %>
              onchange="roll(this)">
            Any
          </label>
        </td>
        <td class="filter" colspan="2">
          <div><strong>Range</strong></div>
          <% BattleCatsRolls::Filter::Range.each_key do |range| %>
          <label for="<%= range %>">
            <input type="checkbox" name="range" id="<%= range %>"
              value="<%= range %>" <%= checked_range(range) %>
              onchange="roll(this)">
            <%= display_filter(range) %>
          </label>
          <% end %>
        </td>
        <td class="filter">
          <div><strong>Area</strong></div>
          <label for="area_any">
            <input type="radio" name="area" id="area_any"
              value="any" <%= checked_area('any') %>
              onchange="roll(this)">
            <%= l10n('Any') %>
          </label>
          <% BattleCatsRolls::Filter::Area.each_key do |area| %>
          <label for="<%= area %>">
            <input type="radio" name="area" id="<%= area %>"
              value="<%= area %>" <%= checked_area(area) %>
              onchange="roll(this)">
            <%= display_filter(area) %>
          </label>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="for">
          <label for="for_control_any">
            <input type="radio" id="for_control_any" name="for_control"
              value="any" <%= checked_for_control('any') %>
              onchange="roll(this)">
            Any
          </label>
          <label for="for_control_all">
            <input type="radio" id="for_control_all" name="for_control"
              value="all" <%= checked_for_control('all') %>
              onchange="roll(this)">
            All
          </label>
        </td>
        <td class="filter" colspan="3">
          <div><strong>Control</strong></div>
          <% BattleCatsRolls::Filter::Control.each_key do |control| %>
          <label for="control_<%= control %>">
            <input type="checkbox" name="control" id="control_<%= control %>"
              value="<%= control %>" <%= checked_control(control) %>
              onchange="roll(this)">
            <%= display_filter(control) %>
          </label>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="for">
          <label for="for_immunity_any">
            <input type="radio" id="for_immunity_any" name="for_immunity"
              value="any" <%= checked_for_immunity('any') %>
              onchange="roll(this)">
            Any
          </label>
          <label for="for_immunity_all">
            <input type="radio" id="for_immunity_all" name="for_immunity"
              value="all" <%= checked_for_immunity('all') %>
              onchange="roll(this)">
            All
          </label>
        </td>
        <td class="filter" colspan="3">
          <div><strong>Immunity</strong></div>
          <% BattleCatsRolls::Filter::Immunity.each_key do |immunity| %>
          <label for="immunity_<%= immunity %>">
            <input type="checkbox" name="immunity" id="immunity_<%= immunity %>"
              value="<%= immunity %>" <%= checked_immunity(immunity) %>
              onchange="roll(this)">
            <%= display_filter(immunity) %>
          </label>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="for">
          <label for="for_counter_any">
            <input type="radio" id="for_counter_any" name="for_counter"
              value="any" <%= checked_for_counter('any') %>
              onchange="roll(this)">
            Any
          </label>
          <label for="for_counter_all">
            <input type="radio" id="for_counter_all" name="for_counter"
              value="all" <%= checked_for_counter('all') %>
              onchange="roll(this)">
            All
          </label>
        </td>
        <td class="filter" colspan="3">
          <div><strong>Counter</strong></div>
          <% BattleCatsRolls::Filter::Counter.each_key do |filter| %>
          <label for="<%= filter %>">
            <input type="checkbox" name="counter" id="<%= filter %>"
              value="<%= filter %>" <%= checked_counter(filter) %>
              onchange="roll(this)">
            <%= display_filter(filter) %>
          </label>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="for">
          <label for="for_combat_any">
            <input type="radio" id="for_combat_any" name="for_combat"
              value="any" <%= checked_for_combat('any') %>
              onchange="roll(this)">
            Any
          </label>
          <label for="for_combat_all">
            <input type="radio" id="for_combat_all" name="for_combat"
              value="all"  <%= checked_for_combat('all') %>
              onchange="roll(this)">
            All
          </label>
        </td>
        <td class="filter" colspan="3">
          <div><strong>Combat</strong></div>
          <% BattleCatsRolls::Filter::Combat.each_key do |filter| %>
          <label for="<%= filter %>">
            <input type="checkbox" name="combat" id="<%= filter %>"
              value="<%= filter %>" <%= checked_combat(filter) %>
              onchange="roll(this)">
            <%= display_filter(filter) %>
          </label>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="for">
          <label for="for_other_any">
            <input type="radio" id="for_other_any" name="for_other"
              value="any" <%= checked_for_other('any') %>
              onchange="roll(this)">
            Any
          </label>
          <label for="for_other_all">
            <input type="radio" id="for_other_all" name="for_other"
              value="all" <%= checked_for_other('all') %>
              onchange="roll(this)">
            All
          </label>
        </td>
        <td class="filter" colspan="3">
          <div><strong>Other</strong></div>
          <% BattleCatsRolls::Filter::Other.each_key do |filter| %>
          <label for="<%= filter %>">
            <input type="checkbox" name="other" id="<%= filter %>"
              value="<%= filter %>" <%= checked_other(filter) %>
              onchange="roll(this)">
            <%= display_filter(filter) %>
          </label>
          <% end %>
        </td>
      </tr>

      <% if route.advanced_filters %>
      <tr class="attack">
        <td class="for">
          <label for="dps_any">
            <input type="radio" id="dps_any" name="dps"
              value="any" <%= checked_dps('any') %>
              onchange="roll(this)">
            Any
          </label>
        </td>
        <td class="filter" colspan="3">
          <div><strong>DPS</strong></div>
          <% BattleCatsRolls::Filter::DPS.each_key do |filter| %>
          <label for="DPS_<%= filter %>">
            <input type="radio" name="dps" id="DPS_<%= filter %>"
              value="<%= filter %>" <%= checked_dps(filter) %>
              onchange="roll(this)">
            <%= display_filter(filter) %>
          </label>
          <% end %>
        </td>
      </tr>
      <tr class="attack">
        <td class="for">
          <label for="damage_any">
            <input type="radio" id="damage_any" name="damage"
              value="any" <%= checked_damage('any') %>
              onchange="roll(this)">
            Any
          </label>
        </td>
        <td class="filter" colspan="3">
          <div><strong>Single blow damage</strong></div>
          <% BattleCatsRolls::Filter::Damage.each_key do |filter| %>
          <label for="damage_<%= filter %>">
            <input type="radio" name="damage" id="damage_<%= filter %>"
              value="<%= filter %>" <%= checked_damage(filter) %>
              onchange="roll(this)">
            <%= display_filter(filter) %>
          </label>
          <% end %>
        </td>
      </tr>
      <tr class="attack">
        <td class="for">
          <label for="health_any">
            <input type="radio" id="health_any" name="health"
              value="any" <%= checked_health('any') %>
              onchange="roll(this)">
            Any
          </label>
        </td>
        <td class="filter" colspan="3">
          <div><strong>Health</strong></div>
          <% BattleCatsRolls::Filter::Health.each_key do |filter| %>
          <label for="health_<%= filter %>">
            <input type="radio" name="health" id="health_<%= filter %>"
              value="<%= filter %>" <%= checked_health(filter) %>
              onchange="roll(this)">
            <%= display_filter(filter) %>
          </label>
          <% end %>
        </td>
      </tr>
      <tr class="attack">
        <td class="for">
          <label for="knockbacks_any">
            <input type="radio" id="knockbacks_any" name="knockbacks"
              value="any" <%= checked_knockbacks('any') %>
              onchange="roll(this)">
            Any
          </label>
        </td>
        <td class="filter" colspan="3">
          <div><strong>Knockbacks</strong></div>
          <% BattleCatsRolls::Filter::Knockbacks.each do |filter, mod| %>
          <label for="knockbacks_<%= filter %>">
            <input type="radio" name="knockbacks" id="knockbacks_<%= filter %>"
              value="<%= filter %>" <%= checked_knockbacks(filter) %>
              onchange="roll(this)">
            <%= mod.display %>
          </label>
          <% end %>
        </td>
      </tr>
      <tr class="attack">
        <td class="for">
          <label for="stand_any">
            <input type="radio" id="stand_any" name="stand"
              value="any" <%= checked_stand('any') %>
              onchange="roll(this)">
            Any
          </label>
        </td>
        <td class="filter" colspan="3">
          <div><strong>Stand</strong></div>
          <% BattleCatsRolls::Filter::Stand.each do |filter, mod| %>
          <label for="stand_<%= filter %>">
            <input type="radio" name="stand" id="stand_<%= filter %>"
              value="<%= filter %>" <%= checked_stand(filter) %>
              onchange="roll(this)">
            <%= mod.display %>
          </label>
          <% end %>
        </td>
      </tr>
      <tr class="attack">
        <td class="for">
          <label for="reach_any">
            <input type="radio" id="reach_any" name="reach"
              value="any" <%= checked_reach('any') %>
              onchange="roll(this)">
            Any
          </label>
        </td>
        <td class="filter" colspan="3">
          <div><strong>Reach</strong></div>
          <% BattleCatsRolls::Filter::Reach.each do |filter, mod| %>
          <label for="reach_<%= filter %>">
            <input type="radio" name="reach" id="reach_<%= filter %>"
              value="<%= filter %>" <%= checked_reach(filter) %>
              onchange="roll(this)">
            <%= mod.display %>
          </label>
          <% end %>
        </td>
      </tr>
      <tr class="attack">
        <td class="for">
          <label for="speed_any">
            <input type="radio" id="speed_any" name="speed"
              value="any" <%= checked_speed('any') %>
              onchange="roll(this)">
            Any
          </label>
        </td>
        <td class="filter" colspan="3">
          <div><strong>Speed</strong></div>
          <% BattleCatsRolls::Filter::Speed.each do |filter, mod| %>
          <label for="speed_<%= filter %>">
            <input type="radio" name="speed" id="speed_<%= filter %>"
              value="<%= filter %>" <%= checked_speed(filter) %>
              onchange="roll(this)">
            <%= mod.display %>
          </label>
          <% end %>
        </td>
      </tr>
      <tr class="attack">
        <td class="for">
          <label for="cost_any">
            <input type="radio" id="cost_any" name="cost"
              value="any" <%= checked_cost('any') %>
              onchange="roll(this)">
            Any
          </label>
        </td>
        <td class="filter" colspan="3">
          <div><strong>Cost</strong></div>
          <% BattleCatsRolls::Filter::Cost.each do |filter, mod| %>
          <label for="cost_<%= filter %>">
            <input type="radio" name="cost" id="cost_<%= filter %>"
              value="<%= filter %>" <%= checked_cost(filter) %>
              onchange="roll(this)">
            <%= mod.display %>
          </label>
          <% end %>
        </td>
      </tr>
      <tr class="attack">
        <td class="for">
          <label for="production_any">
            <input type="radio" id="production_any" name="production"
              value="any" <%= checked_production('any') %>
              onchange="roll(this)">
            Any
          </label>
        </td>
        <td class="filter" colspan="3">
          <div><strong>Production</strong></div>
          <% BattleCatsRolls::Filter::Production.each do |filter, mod| %>
          <label for="production_<%= filter %>">
            <input type="radio" name="production" id="production_<%= filter %>"
              value="<%= filter %>" <%= checked_production(filter) %>
              onchange="roll(this)">
            <%= mod.display %>
          </label>
          <% end %>
        </td>
      </tr>
      <tr class="attack">
        <td class="for">
          <label for="for_aspect_any">
            <input type="radio" id="for_aspect_any" name="for_aspect"
              value="any" <%= checked_for_aspect('any') %>
              onchange="roll(this)">
            Any
          </label>
          <label for="for_aspect_all">
            <input type="radio" id="for_aspect_all" name="for_aspect"
              value="all" <%= checked_for_aspect('all') %>
              onchange="roll(this)">
            All
          </label>
        </td>
        <td class="filter" colspan="3">
          <div><strong>Aspect</strong></div>
          <% BattleCatsRolls::Filter::Aspect.each_key do |filter| %>
          <label for="<%= filter %>">
            <input type="checkbox" name="aspect" id="<%= filter %>"
              value="<%= filter %>" <%= checked_aspect(filter) %>
              onchange="roll(this)">
            <%= display_filter(filter) %>
          </label>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

  <%= header(2,
    %Q{Show me all cats (<a href="#{uri_to_own_all_cats}#show-me-all-cats">Own all below!</a>) (<a href="#{uri_to_drop_all_cats}#show-me-all-cats">Drop all below!</a>)},
    'show-me-all-cats')
  %>

  <div class="cats_listing">
  <% each_cats_by_rarity(arg[:cats_by_rarity]) do |rarity, cats| %>
    <%= rarity_header(rarity, cats.size) %>
    <div class="cats_by_rarity">
      <% cats.reverse_each do |c| %>
      <input type="checkbox" onchange="roll(this)"
        name="t" id="cat-<%= c.id %>" value="<%= c.id %>"
        <%= checked_cat(c) %>>
      <%= link_to_roll(c) %>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
