<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="<%= meta_description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="none">
    <link rel="icon" type="image/png" href="/asset/image/treasure.png">
    <link href="/asset/style/tacit.css" rel="stylesheet" type="text/css">
    <title>Battle Cats Rolls</title>
    <style>
      .rare { background-color: white; }
      .owned { background-color: azure; }
      <% case route.theme; when 'mkweb' %>
      /* http://mkweb.bcgsc.ca/colorblind/img/colorblindness.palettes.v11_4.png */
      .supa_fest { background-color: #AFFF2A; }
      .supa { background-color: #FFDC3D; }
      .uber_fest { background-color: #FF9DCB; }
      .uber { background-color: #F60239; }
      .exclusive { background-color: #00E5F8; }
      .found { background-color: #00F407; }
      .legend { background-color: #8400CD; }
      .attack { background-color: white; }
      .triggered_attack { background-color: #FFCFE2; }
      <% else %>
      .supa_fest { background-color: yellow; }
      .supa { background-color: gold; }
      .uber_fest { background-color: salmon; }
      .uber { background-color: red; }
      .exclusive { background-color: aqua; }
      .found { background-color: lime; }
      .legend { background-color: darkviolet; }
      .attack { background-color: lavender; }
      .triggered_attack { background-color: pink; }
      .talents { background-color: lightyellow; }
      .ultra_talents { background-color: lightpink; }
      <% end %>
      .legend a, .legend { color: #d8a56f; }
      <% unless show_details %>
        .score, .cat { border-bottom-style: none; }
        .cat { border-top-style: none; }
      <% end %>
    </style>
    <script>
      function roll(element) {
        element.form.submit();
      };
      function pick(position) {
        window.location = '<%= route.uri %>' + '&pick=' + position
          + '#N' + position.replace(/[RGX]/g, '');
      };
    </script>
  </head>
  <body>
    <div id="menu">
      <a href="<%= route.uri %>" title="Home / Permalink">
        <img class="menu" src="/asset/image/treasure.png" alt="Treasure"></a>
      <a href="<%= route.cats_uri %>" title="Show me all cats">
        <img class="menu" src="/asset/image/cats.png" alt="Cats"></a>
      <a href="<%= route.help_uri %>" title="Help!">
        <img class="menu" src="/asset/image/help.png" alt="Help"></a>
      <a href="<%= route.logs_uri %>" title="What's changed?">
        <img class="menu" src="/asset/image/logs.png" alt="Logs"></a>
      <a href="<%= route.seek_uri %>" title="Looking for your seed?">
        <img class="menu" src="/asset/image/seek.png" alt="Seek"></a>
      <hr>
    </div>

    <div id="notice" class="section">
    </div>

    <div id="content">
      <%= yield %>
    </div>

    <div id="footer">
      <hr>
      <a href="//<%= route.web_host %>/help">Help</a>
      /
      <a href="https://gitlab.com/godfat/battle-cats-rolls">Source</a>
      &copy;
      2018-2025 Lin Jen-Shin (godfat)
    </div>
  </body>
</html>
