<%= erb :form %>

<%= header(1, "Event data links for BC#{route.lang.upcase}") %>
<ul>
  <% %w[gatya.tsv item.tsv sale.tsv].each do |file| %>
    <li>
      <a href="<%= route.event_url(file: file) %>"><%= file %></a>
      (cached for <%= route.tsv_expires_in %> seconds)
    </li>
  <% end %>
</ul>

<%= header(1, "Known bugs for 8.6+") %><p></p>
<ol>
  <li>Seed seeking does not fully work for 8.6+ yet. If it can't find the seed, roll another cat, and put your new last 10 cats. When you don't have any duplicated rare cats in the last 10 rolls, it can find the seed.</li>
</ol>

<%= header(1, "What's changed?") %><p></p>

<%= header(2, "2026-02-19") %>
<ul>
  <li>
    If position is out of range, assuming 1A. This fixed a crash for people
    setting a position &gt;500 from when the max count can be 999.
  </li>
</ul>

<%= header(2, "2026-02-14") %>
<ul><li>Reduced the max count from 999 to 500 to reduce server load.</li></ul>

<%= header(2, "2026-01-27") %>
<ul>
  <li>
    <p>
      Fixed slot color coding for fest super rare and fest uber. For a period
      when regular banners had legends while uberfest and epicfest didn't have
      legends, this color coding was too complex to be fully accurate.
      However, since both uberfest and epicfest have 0.3% legends as regular
      banners, this can be fully aligned and consistent again.
    </p>
    <p>
      Here's an example: Seed
      <a href="/?seed=2118321982&last=150&event=2026-01-26_986">2118321982</a>
      2A has a score of 9070, which is now an uber at uberfest and epicfest,
      but it was coded as just a regular super rare before. After the fix,
      this is correctly coded as a fest uber.
    </p>
    <p>
      Similarly, a lot of players noticed that some ubers were coded as an uber
      fest when it's already an uber, would be properly coded as a regular uber
      now. This applies to scores between 9471 to 9499. Note that this also
      means those slots while will be shown as a uber now, can be just a super
      rare in banners which don't have legends. Here's an example: Seed
      <a href="/?seed=1928358907&last=150&event=2025-12-25_940">1928358907</a>
      2A has a score of 9498 for a Brainwashed Lizard Cat. Before the fix, this
      was shown as a fest uber, but in fact it's an uber slot. It is an uber
      in banners with legends. After the fix, this is shown as an uber, but
      Brainwashed Lizard Cat is not an uber.
    </p>
    <p>
      This is not a bug because the color coding is always meant for the slot,
      not the rarity in a particular banner. It is intended for knowing the
      potential rarity in "other" banners, so we're less likely to miss an
      important slot when it's less important in the current banner we're
      looking at.
    </p>
    <p>
      Right now there are too many types of banners with all different rates
      and different rarities (having legends or not), thus we sacrifice
      accuracy for simplicity here, that is the most common banners and
      uberfest and epicfest. Note that this also means it's not fully
      accurate for superfest!
    </p>
    <p>
      Fixed by
      <a href="https://gitlab.com/godfat/battle-cats-rolls/-/commit/60c01f6f0f99be2ceb7148447e10f7b2d0a86c92">60c01f6f0f99be2ceb7148447e10f7b2d0a86c92</a>
    </p>
  </li>
</ul>

<%= header(2, "2026-01-26") %>
<ul>
  <li>
    Fixed site crashing when last cat is a duplicated cat of the next cat by
    checking if there's actually a rerolled cat. Only duplicated rare cat
    would have a rerolled cat, so this was crashing for super rare and uber,
    and also legend rare even when it's more rare. This was broken by
    <a href="https://gitlab.com/godfat/battle-cats-rolls/-/commit/4e00e45fad25a4a4b7c24eb0ea75a843ccb3ff5e">4e00e45fad25a4a4b7c24eb0ea75a843ccb3ff5e</a>
    and fixed by
    <a href="https://gitlab.com/godfat/battle-cats-rolls/-/commit/029c74ca4fffc04da1385970755d9ecb504eaba2">029c74ca4fffc04da1385970755d9ecb504eaba2</a>
  </li>
</ul>

<%= header(2, "2026-01-22") %>
<ul>
  <li>
    Now we can mark the next position with the rerolled cat by clicking on the
    same position label. This will rotate between them.
  </li>
  <li>
    Add a backtrack link to go back to previous roll.
  </li>
</ul>

<%= header(2, "2026-01-21") %>
<ul>
  <li>
    We no longer highlight the path from 1B. This is replaced by the following
    next position marker feature.
  </li>
  <li>
    We can now click on the position label to mark the next position.
    <ul>
      <li>
        When a next position is marked, highlighting will start from that
        particular position rather than 1A. This removes the last cat as well,
        because last cat is supposed to be 0A, which is not applicable when
        the next position is beyond 1A.
      </li>
      <li>
        When we advance tracks by clicking on a particular cat, we set the
        last cat as usual, and we also reset the next position back to 1A.
      </li>
      <li>
        This means the next position marker is mutual exclusive to the last
        cat feature.
      </li>
      <li>
        NOTE: For now we cannot mark the next position with a rerolled cat.
        This means highlighting with a specific next position with a rerolled
        cat will not highlight properly. This will be fixed next.
      </li>
    </ul>
  </li>
</ul>

<%= header(2, "2026-01-18") %>
<ul>
  <li>We serve the tsv files again, cached for 1 hour.</li>
</ul>

<%= header(2, "2025-11-09") %>
<ul>
  <li>Redundant title in the meta description is removed.</li>
</ul>

<%= header(2, "2025-11-06") %>
<ul>
  <li>
    Add form name selection when showing stats. This decides which
    meta-description and og-image it should use for the page.
  </li>
  <li>HTML title will now also include page info.</li>
</ul>

<%= header(2, "2025-10-25") %>
<ul>
  <li>
    Various fixes for showing true form stats. If you're interested about
    all the details, read:
    <a href="https://gitlab.com/godfat/battle-cats-rolls/-/commit/1a966926403ea67acd6951744505aaff83812f25">Consolidate the form data in stats</a>
  </li>
</ul>

<%= header(2, "2025-10-24") %>
<ul>
  <li>Now display the cat avatars in stats.</li>
</ul>

<%= header(2, "2025-10-18") %>
<ul>
  <li>
    Always highlight 1A as next if nothing else is picked.
    This should give a better sense that we assume 1A is the next.
  </li>
  <li>Add tooltips to various control labels.</li>
</ul>

<%= header(2, "2025-07-18") %>
<ul>
  <li>Avoid building cats without a description.</li>
</ul>

<%= header(2, "2025-07-18") %>
<ul>
  <li>
    The old seeker is now disabled on the UI. This is disabled because it's
    very slow comparing to the new one, and sometimes people are still using
    it, and when that happens, queue is piling up fast. Disabling the old
    seeker should much help reduce the queue, and help the overall
    performance under heavy traffic.
  </li>
</ul>

<%= header(2, "2025-06-18") %>
<ul>
  <li>
    Fixed a minor bug that all triggered attacks should be area attacks.
    They should not inherit the type from the main attack, because so far
    wave, surge, and explosion are all area attack, while the main attack
    can be single ranged.
  </li>
</ul>

<%= header(2, "2025-06-06") %>
<ul>
  <li>Compact the descriptions for advanced filters.</li>
  <li>Add &lt;=3500 and &lt;=4500 cost filters.</li>
  <li>
    Show some more meaningful meta description,
    like page name and cat's name and description.
  </li>
</ul>

<%= header(2, "2025-06-02") %>
<ul><li>Generalized and expanded advanced filters.</li></ul>

<%= header(2, "2025-05-31") %>
<ul>
  <li>Moved DPS relevant options under advanced filters.</li>
  <li>Fixed not remembering advanced filters in some pages.</li>
  <li>
    Reordered filters to High, High effective, Very high,
    Very high effective, and Extremely high effective. This seems
    easier to follow, even though it's mixing types.
  </li>
  <li>
    Added a background color to advanced filters so it's clear which
    are the advanced filters.
  </li>
  <li>Added a knockbacks filter in the advanced filters.</li>
</ul>

<%= header(2, "2025-05-30") %>
<ul>
  <li>
    Move DPS, Single blow damage, Health, and other Aspects filters under
    advanced filters so they don't show up by default. This should make it
    easier to navigate with basic filters in the default view. When we're
    hiding the advanced filters, all advanced filters will be dropped as
    well.
  </li>
  <li>
    Level input is no longer limited at the max level, and can be set to any
    positive integer >= 1. How stats are calculated does not change, that is
    it's still limited to the max level. For example, the default is level 30,
    and the default display for Metal Cat is still showing at level 20, its
    max, even when the input shows level 30. Now we also show the max level so
    it's clear if the input is greater than the max, it's calculated at max.
  </li>
  <li>
    The above change should improve the UX when switching view between cats
    having a lower max level. For example, previously when you visit the
    Metal Cat, the level can be reduced to 20, and if you use options there,
    the level input can be then remembered to 20 even when it was set higher
    before. With this change, level input will never be forced to change.
  </li>
  <li>
    Add the level input when advanced filters are enabled. It'll affect
    advanced filters for things like DPS, Damage, and Health, so it can be
    useful there.
  </li>
</ul>

<%= header(2, "2025-05-26") %>
<ul>
  <li>
    Added effective health filters. Thresholds are: 100,000, 200,000, 400,000.
  </li>
  <li>
    Display blind spot for long-range and omni-strike cats. <kbd>-</kbd>
    indicates no blind spot, while 0 means it cannot hit behind itself.
    A standard area attack can reach -320 behind, so blind spots can be
    negative as well. It's only considered to have no blind spot if it
    can hit -320 behind, like a standard area attack.
  </li>
</ul>

<%= header(2, "2025-05-25") %>
<ul>
  <li>
    Expanded filtering options with the same from stats: Excluding
    wave/surge/explosion and critical strike, savage blow from DPS.
  </li>
  <li>Split damage related aspects to their own section.</li>
  <li>Split health related aspects to their own section.</li>
  <li>Split DPS related aspects to their own section.</li>
  <li>Use radio buttons for DPS, damage, and health.</li>
</ul>

<%= header(2, "2025-05-24") %>
<ul>
  <li>
    Added filtering with high effective DPS. The effective DPS thresholds are:
    7,500, 15,000, 25,000. Fruit treasures are considered so they're different
    for Aku, Relic, White, and Metal.
  </li>
  <li>
    Added filtering with high effective single blow. The effective single blow
    thresholds are: 50,000, 100,000, 200,000. Fruit treasures are considered
    so they're different for Aku, Relic, White, and Metal.
  </li>
  <li>
    Updated filtering with single blow calculation that it no longer considers
    the damage sum, but truly for a single blow.
  </li>
</ul>

<%= header(2, "2025-05-18") %>
<ul>
  <li>Display the number of cats within the rarity for the filtered cats.</li>
  <li>Added filtering with melee, midrange, backline, and rearline.</li>
  <li>Added filtering with far-reaching, and very far-reaching.</li>
</ul>

<%= header(2, "2025-05-05") %>
<ul>
  <li>Fixed damage sum to exclude cascade effects.</li>
  <li>Added aspect filters.</li>
</ul>

<%= header(2, "2025-05-04") %>
<ul>
  <li>Fixed talents can be applied to first and second forms.</li>
  <li>
    It should no longer filter across different forms. Now it should filter
    based on the same form, and will not match one condition in one form and
    another in a different form.
  </li>
</ul>

<%= header(2, "2025-05-03") %>
<ul>
  <li>Added a section for filtering range and area.</li>
</ul>

<%= header(2, "2025-05-02") %>
<ul>
  <li>Extracted counter and combat sections for filtering.</li>
  <li>Put any before all.</li>
  <li>
    Moved owning all cats to below the filtering table. This gives more
    vertical spaces for the filtering table so we need to scroll less to
    get to where we're ticking the filters.
  </li>
  <li>
    We also link to the same section when we're owning or dropping the cats.
    This makes it easier to observe results without more scrolling.
  </li>
  <li>
    Added an option to exclude talents.
  </li>
  <li>
    Fixed filtering against specialization embedded in talents. For example,
    Kubiluga against metal and Hades against relic.
  </li>
</ul>

<%= header(2, "2025-05-01") %>
<ul>
  <li>
    Fixed a bug where filtering with metal specialization can return
    Metal Cat and Glass Cat. This is fixed by renaming the
    <strong>metal</strong> ability to <strong>metallic</strong>.
    This can fix it because it's no longer ambiguous.
  </li>
</ul>

<%= header(2, "2025-04-30") %>
<ul>
  <li>
    Fixed a bug where filtering with wave or surge can include the mini ones.
  </li>
</ul>

<%= header(2, "2025-04-29") %>
<ul>
  <li>Align filters text to left.</li>
  <li>Extracted resistant from buff.</li>
  <li>
    Now clicking on the cat's name on the cats page will link to the
    stat page, rather than owning the cat. We also drop the paw because
    it's no longer needed. People can still click on the checkbox to
    own the specific cat.
  </li>
  <li>
    In the detailed gacha slots information, we also show the cat
    information in the title.
  </li>
  <li>
    It is now possible to filter any buffs, in additional to any offensive
    buff and any defensive buff. Use `Or` to pick any offensive buffs or
    defensive buffs, and use `And` to pick any offensive buffs and
    defensive buffs. We still only support `Any` because `All` still doesn't
    make sense in this context.
  </li>
</ul>

<%= header(2, "2025-04-28") %>
<ul>
  <li>
    Now we can filter buff and control separately. For buff, it can
    never have more than one, so it does not have the option for all.
  </li>
  <li>
    Immunity can also be filtered separately now. Blocking wave is put
    into immunity. Does that make sense?
  </li>
  <li>
    Filtering with specialization (renamed from against) now will also
    look into talents.
  </li>
  <li>
    Removed some borders for filters table, trying to reduce visual noise.
  </li>
</ul>

<%= header(2, "2025-04-27") %>
<ul>
  <li>
    Renamed Metal ability to Metallic. This is done to avoid ambiguity with
    metal trait.
  </li>
  <li>Filtering cats now support filtering abilities, too.</li>
</ul>

<%= header(2, "2025-04-26") %>
<ul>
  <li>
    Fixed a bug where using owning or dropping all cats can have some
    weirdness if some of the cats are already owned. The bug was introduced
    for preparing to add filtering option.
  </li>
  <li>
    Show the regular options before the owning cats options. This looks more
    consistent comparing to other pages.
  </li>
  <li>
    Added a cats specialization filter.
  </li>
</ul>

<%= header(2, "2025-04-21") %>
<ul>
  <li>
    Added a new seeker backend from VampireFlower, which is much faster than
    the current one. With some small samplings (n &lt; 5), it's 25x to 200x
    times faster! This should much reduce the server load and the size of
    queue. Also note that some seeds cannot be found by the current one
    can also be found by this new one.
  </li>
</ul>

<%= header(2, "2025-04-20") %>
<ul>
  <li>
    Added a new seeker option on the seeker page in preparation for
    introducing a new seeker.
  </li>
</ul>

<%= header(2, "2025-04-15") %>
<ul>
  <li>Use the canonical URI for the seeker page.</li>
</ul>

<%= header(2, "2025-03-18") %>
<ul>
  <li>
    The 100M banner is no longer considered a legend banner,
    therefore the regular legend banner should shop up again when
    the 100M banner is up.
  </li>
</ul>

<%= header(2, "2025-02-21") %>
<ul>
  <li>
    <p>
      Remember the last rolled cat even when switching to a banner which
      doesn't have the cat. Essentially the blank option in the drop down
      menu will preserve whatever it is before, without showing what it is.
    </p>
    <p>
      This also means that you can no longer drop the last cat by using the
      blank option, and you have to edit the URL to drop it if you need.
      This can be annoying when once you're able to retreat the seed, which
      means the last rolled cat no longer makes sense. When we have this
      feature, retreating the seed should likely drop the last cat.
    </p>
  </li>
  <li>
    Rarity label updated to show actual text then the number when showing
    all cats.
  </li>
</ul>

<%= header(2, "2025-02-09") %>
<ul>
  <li>Explosion and immune to explosion implemented.</li>
  <li>
    Event data links are removed because they no longer work anyway.
    There are no plans to fix them at the moment, because it's more
    involved and the site is not designed to serve these.
  </li>
</ul>

<%= header(2, "2025-01-27") %>
<ul>
  <li>Update Wiki links.</li>
</ul>

<%= header(2, "2024-11-21") %>
<ul>
  <li>Show metal killer.</li>
  <li>Fixed showing Dynasaurus Cat. It's missing spirit information. For now we just show it's unknown.</li>
  <li>Actually, that's also fixed in the same day. Now it's showing the spirit properly. It's missing because it's lacking a name.</li>
  <li>Avoid showing future uber cat links in details view.</li>
</ul>

<%= header(2, "2024-02-17") %>
<ul>
  <li>If Max DPS area is none, then damage sum shouldn't exist. Now it shows - instead. This is the case for Izanagi.</li>
</ul>

<%= header(2, "2024-02-16") %>
<ul>
  <li>First iteration showing talents is up.</li>
  <li>Corrected how attack cycle and DPS are calculated. This should now fully match with battle-cats.fandom.com and battlecats-db.com.</li>
  <li>If Max DPS area is none, then DPS sum shouldn't exist. Now it shows - instead. This is the case for Izanagi.</li>
  <li>Renamed Attack duration to Trigger duration.</li>
  <li>Reordered some abilities.</li>
  <li>Added ability to block waves. (For Cat Machine, etc)</li>
  <li>Added cat link to wiki</li>
</ul>

<%= header(2, "2024-02-14") %>
<ul>
  <li>Added Counter-surge, Sage slayer, and Conjure.</li>
  <li>Added immunity for bosswave.</li>
  <li>Show description when mouse over names on stat pages.</li>
  <li>Added Ultra form to the name list.</li>
</ul>

<%= header(2, "2024-02-10") %>
<ul>
  <li>Fixed stat pages for conjured units.</li>
  <li>Renamed Rush duration to Push duration.</li>
  <li>Added more translations for BCJP and started translating BCTW.</li>
</ul>

<%= header(2, "2023-11-20") %>
<ul>
  <li>
    Introduced UI language which you can use the same language as the Battle Cats app for the UI.
    <ul>
      <li>The default language will match the Battle Cats language.</li>
      <li>The name inside () for the language is the translator/proofreader of the language. (-) means there's no one yet.</li>
      <li>The translations are not fully done yet. A lot of them are still missing and it's working in progress.</li>
    </ul>
  </li>
  <li>Fixed using canonical URI for the help and logs page.</li>
</ul>

<%= header(2, "2023-11-18") %>
<ul>
  <li>Fixed calculation of attack animation for the 4th form.</li>
  <li>Fixed MyGamatoto's link when the id is 3 digits.</li>
</ul>

<%= header(2, "2023-05-27") %>
<ul>
  <li>Fixed seeker 8.6+ for when the score is at the edge.</li>
</ul>

<%= header(2, "2023-05-11") %>
<ul>
  <li>
    Tweak and update mkweb color theme based on v11.4, from v8.13.
    <ul><li>There's no good choice for light yellow, so a greener color is picked. The alternative can be an orange one, but that's darker than the yellow used for super cats, and it feels more like more rare than super cats but it's not.</li></ul>
  </li>
  <li>Add background colors to attacks and wave/surge attacks. An option to select the theme is also added.</li>
</ul>

<%= header(2, "2023-05-09") %>
<ul>
  <li>Show surge attacks and account it for DPS sum and damage sum.</li>
</ul>

<%= header(2, "2023-05-08") %>
<ul>
  <li>Fixed various bugs for showing stats for cats with wave, such as Chronos the Bride, Hermit Cat.</li>
  <li>The option to discount wave from DPS also discount from damage sum. When used, it no longer reduces wave DPS to 0, but only subtracted from sum.</li>
  <li>Show a new field "Enemy base range", which is used to indicate how far the cats will stop before an enemy base. It can be quite different for long range and omni strike cats.</li>
</ul>

<%= header(2, "2023-05-07") %>
<ul>
  <li>Show wave attacks and account it for DPS.</li>
  <li>Wave attacks can be hidden and/or discount from DPS.</li>
</ul>

<%= header(2, "2023-05-04") %>
<ul>
  <li>Level query is now preserved across the site.</li>
  <li>Stats notes are moved to the bottom.</li>
  <li>Add an option to discount critical strikes and savage blows from DPS.</li>
</ul>

<%= header(2, "2023-05-03") %>
<ul>
  <li>Renamed max DPS to DPS sum, and max damage to damage sum.</li>
  <li>DPS now accounts critical strikes and savage blows.</li>
</ul>

<%= header(2, "2023-04-30") %>
<ul>
  <li>
    Now custom gacha can detect and guess the first event used for it.
    <ul>
      <li>If there's an exact event for that, show it.</li>
      <li>If it shares the same seriesID with an event and is similar to that, show it.</li>
      <li>If no events for the same seriesID, show the most similar regardless.</li>
      <li>If there's really nothing, hint which ubers/legends as before, without duplicated.</li>
    </ul>
  </li>
  <li>
    By default custom gacha uses the predicted rates from the guessed event.
    Note that prediction can be wrong. For example, gacha 328 and 355 are
    wrong. Be careful and double checking is advised.
  </li>
</ul>

<%= header(2, "2023-04-29") %>
<ul>
  <li>Dynasty Fest and Royal Fest rates are added to the predefined rates for customized gacha.</li>
</ul>

<%= header(2, "2023-04-27") %>
<ul>
  <li>We can finally adjust the cat level to show. You can't put level more than what's allowed in the game.</li>
  <li>It also shows the growth rate so you have an idea when it can be become marginal.</li>
</ul>

<%= header(2, "2023-04-17") %>
<ul>
  <li>Show what exactly the effects it's triggering for each attacks.</li>
  <li>Mention that you only need to find the seed once in help/seek.</li>
</ul>

<%= header(2, "2023-04-16") %>
<ul>
  <li>Properly detect mini-surge from regular surge.</li>
</ul>

<%= header(2, "2023-04-09") %>
<ul>
  <li>Renamed "Damage interval" to "Attack cycle" for stats.</li>
  <li>
    Fix server error when multiple same queries are added in the URL.
    Now it'll just look at the last value and ignore all the previous ones.
  </li>
</ul>

<%= header(2, "2023-01-31") %>
<ul>
  <li>
    From now on, cat links will lead to in site cat page showing stats,
    rather than the previous battlecats-db site. You can still access the
    battlecats-db site from there. My Gamatoto is also listed for comparison.
  </li>
  <li>It's still under development so changes will be made moving forward.</li>
</ul>

<%= header(2, "2023-01-29") %>
<ul><li>Event query in the URL will now be hidden if it's the current event.</li></ul>

<%= header(2, "2021-11-22") %>
<ul><li>From now on, linking to this page requires setting referrer from the main site as well.</li></ul>

<%= header(2, "2021-11-13") %>
<ul><li>From now on, linking to the tsv files requires setting referrer from the main site.</li></ul>

<%= header(2, "2021-09-28") %>
<ul><li>Seed is positive and cannot be more than 2<sup>32</sup>, so we limit the input within that.</li></ul>

<%= header(2, "2021-09-20") %>
<ul>
  <li>
    Given that recently the queue for seeking seeds are way too large
    (1000 ~ 3000), and someone might be potentially abusing the system by
    constantly seeking seeds, effectively making Denial of Service (DoS)
    attack.
  </li>
  <li>
    Now the same IP can only enter the queue for once. Or the same IP has to
    be waiting for 10 minutes before it can enter the queue again. I hope this
    can make it more fair for regular users.
  </li>
</ul>

<%= header(2, "2020-12-24") %>
<ul>
  <li>Fix displaying Platinum and Legend gacha properly, again. It should show the current active ones and all the upcoming ones.</li>
</ul>

<%= header(2, "2020-12-13") %>
<ul>
  <li>Add predefined Legend gacha rate for customized events.</li>
  <li>Properly handle Platinum gacha and Legend gacha. Both should just show the current and upcoming ones.</li>
</ul>

<%= header(2, "2020-12-12") %>
<ul>
  <li>Made it possible to select the text in the cells again.</li>
  <li>
    Fixed tracking/highlighting path when it rerolled 2 times and in B track. (in A it's correct) Here's an <a href="/?seed=2116007321&event=2019-07-21_391&pick=3AGX#N3A">example</a>:
    <ul>
      <li>5B -&gt; 8B was wrong. It should be 5B -&gt; 7B, therefore guaranteed for 3A "AAA Wunder" is wrong.</li>
      <li>In <a href="/?seed=1732891581&event=2019-07-21_391&pick=1BGX#N1B">track A</a> now it's 4A -&gt; 6A, which is correct, therefore guaranteed for 1B "Eva Unit-01" is correct for the same slot.</li>
    </ul>
  </li>
  <li>
    Fixed tracking/highlighting path when it rerolled 3 times. Both tracks were wrong. Here's an <a href="/?seed=1773704064&event=2020-12-11_563&lang=jp&pick=6BR">example</a>:
    <ul>
      <li>3A -&gt; 6B was wrong. It should be 3A -&gt; 5B.</li>
      <li>6B -&gt; 10A was wrong. It should be 6B -&gt; 9A.</li>
    </ul>
  </li>
  <li>Note that in all cases, the links are all correct, but the shown arrows and guaranteed through the path could be wrong. All of them should be fixed now.</li>
</ul>

<%= header(2, "2020-10-04") %>
<ul>
  <li>Good-Luck Ebisu is added to the list of exclusive cats.</li>
</ul>

<%= header(2, "2020-09-06") %>
<ul>
  <li>
    Fixed some other edge cases for highlighting with a last rolled cat.
    Some examples showing such edge cases:
    <ul>
      <li><a href="/?seed=650315141&last=50&event=2020-09-11_433&pick=2BGX#N2B">Guaranteed from 1AR to 2BG</a></li>
      <li><a href="/?seed=3626964723&last=49&event=2020-09-11_433&pick=2BGX#N2B">Guaranteed from 1AR to 2BRG</a></li>
    </ul>
  </li>
</ul>

<%= header(2, "2020-04-27") %>
<ul>
  <li>
    Added a theme option where you can pick
    <a href="http://mkweb.bcgsc.ca/colorblind/img/colorblindness.8.13.palettes.pdf">mkweb colorblind friendly</a> theme.
  </li>
</ul>

<%= header(2, "2020-04-26") %>
<ul>
  <li>
    Added first legendary or uber cat's name and last uber cat's name to the
    customized gacha name. For example, if you see Splendid Ganesha as the
    last uber's name, it's likely that it's a platinum gacha. If it's
    uberfest or epicfest, then it's likely with Radiant Aphrodite. If the
    first name is a legendary uber, then it's likely that regular gacha.
  </li>
  <li>
    If the customized gacha contains a cat which is not available in the game,
    for example, there are a few exclusive BCJP cats which don't exist in
    BCEN, but their corresponding gacha are still in the game, those would
    show with a question mark and will not show any tracks at all.
    Previously, the site will crash if that's the case. So this is a bug fix.
  </li>
</ul>

<%= header(2, "2020-04-20") %>
<ul>
  <li>
    Added predefined rates you can pick from:
    <ul>
      <li>Regular</li>
      <li>Regular without legend</li>
      <li>Uberfest / Epicfest</li>
      <li>Superfest</li>
      <li>Platinum</li>
      <li>Customize...</li>
    </ul>
    The last one, of course, will give you back 3 input fields to
    enter the numbers.
  </li>
</ul>

<%= header(2, "2020-04-19") %>
<ul>
  <li>
    Owned cats encoding revised. Previously, it was a list of cat ids,
    compressed and base64 encoded. It turned out that it was super long.
    Now we just use a bit mask using bit fields to indicate the cat ids,
    and use radix 62 to encode the integer. This turned out to be pretty
    concise that turning 912 characters into 89 characters, about 10 times
    better.
  </li>
  <li>
    We also changed the query name from <code>owned</code> to just
    <code>o</code>. I would prefer spelling it out but we need a different
    name to distinguish them.
  </li>
  <li>
    We also redirect to the canonical URL while picking cats.
  </li>
  <li>
    Reverse the list of cats, putting the latest on the top so it's easier to
    tick new cats.
  </li>
</ul>

<%= header(2, "2020-04-13") %>
<ul>
  <li>
    We now redirect you to the canonical URL if you're not at it.
    Note that every time you change something in the control panel
    (e.g. switching the event), you'll move to non-canonical URL.
    It wasn't a big concern when we didn't have so many options, but
    since we're having more and more options, it's adding up. This
    effort is trying to keep the URL short.
  </li>
  <li>
    Ideally it should not redirect you, but just stick with the
    cleanest canonical URL when you touch the control panel, but
    I just hate writing JavaScript so simply redirecting from the
    server is so much easier to implement, and it seems fast enough
    anyway.
  </li>
  <li>
    Fixed a bug where last rare cat wasn't considered as a potential dupe
    while highlighting. This was a long standing bug which has nothing to
    do with the URL cleanup.
  </li>
</ul>

<%= header(2, "2020-04-04") %>
<ul>
  <li>
    Added a way to customize an event with any gacha id and probabilities.
    For example, it's possible to peek
    <a href="https://bc.godfat.org/?seed=1&event=custom&custom=503&c_rare=6500&c_supa=2500&c_uber=1000">Superfest</a>
    even when there's no event data yet.
  </li>
</ul>

<%= header(2, "2020-03-22") %>
<ul>
  <li>
    Fixed an edge case where guaranteed cats might be missing for some cells.
    It was happening when one of the cells had a dupe from both A and B, and
    when that happened next cat data would be lost causing missing guaranteed.
    It was only discovered with Merc Storia because it has the most dupes.
  </li>
</ul>

<%= header(2, "2020-01-23") %>
<ul>
  <li>Highlight the middle 5 rolls differently for step-up events. This may help you plan out when we have multiple step-up events happening at the same time.</li>
  <li>Added 7-rolls guaranteed. Again this may help if you're switching between step-up events.</li>
  <li>Added cat db links in the cat list in detailed mode.</li>
</ul>

<%= header(2, "2019-12-31") %>
<ul>
  <li>Added a new feature so that you can pick which cats you owned from the <a href="<%= route.cats_uri %>">cats list</a>.</li>
  <li>When you pick the cats, it'll save the list in URL with <code>owned</code> query string, which can be very long if you have a lot of cats.</li>
  <li>Cats which you owned will be low-lighted with <span class="owned">azure color</span>, making it less obvious even if it's an uber cat.</li>
  <li>
    Color priority updated to:
    <span class="legend"><a>Legendary</a></span> &gt;
    <span class="found"><a>Found</a></span> &gt;
    <span class="owned"><a>Owned</a></span> &gt;
    <span class="exclusive"><a>Exclusive</a></span> &gt;
    others
  </li>
  <li>Legendary cats are too rare so it should never be hidden.</li>
  <li>Two links to help you pick all and drop all, in case you have almost all cats already, so it'll be easier to tick off cats you don't own yet.</li>
</ul>

<%= header(2, "2019-12-28") %>
<ul>
  <li>Added some new sections in the help page:</li>
    <ul>
      <li>New section about <em>Consecutive duplicated rare cats</em>.</li>
      <li>A placeholder for <em>Bouncing with consecutive duplicated rare cats</em>.</li>
      <li>A placeholder for <em>Not necessarily a consecutive duplicated rare cat</em>.</li>
      <li>A placeholder for <em>Skipping with a platinum ticket</em>.</li>
      <li>A placeholder for <em>Higher chances with repeated cats</em>.</li>
    </ul>
</ul>

<%= header(2, "2019-12-22") %>
<ul>
  <li>Fixed some bugs in the new highlighting system. It should be more consistent now.</li>
  <li>Help page highlighting and guaranteed steps are fixed.</li>
</ul>

<%= header(2, "2019-12-18") %>
<ul>
  <li>This is a late update log from 2019-12-22. It was released earlier because I want to update event data, and I didn't bother to branch it.</li>
  <li>Now we use R to indicate a rerolled cat. For example, 11AR is the cat at 11A rerolled into. 11ARG is the cat at 11A guaranteed, but starting from the rerolled position.</li>
  <li>Highlighting system is greatly improved. Now it can properly highlight if you would be picking the rerolled cat or not.</li>
  <li>In the new highlighting system, you can click on the upper part of a cell, which will automatically find which cats you'll be rolling into, from the past to the future. Your cursor will show a "help" icon in this case.</li>
  <li>Or you can click on the lower part of a cell, just beside the cat's name. In this case, the system will specifically show how it'll work if you're rolling into that specific cat. Your cursor will show a "plus" icon.</li>
</ul>

<%= header(2, "2019-12-09") %>
<ul>
  <li>Guaranteed columns should be fully working for 8.6+ now. You don't have to set force guaranteed to 2 and count manually anymore.</li>
  <li>Guaranteed columns may have two rows when there's a dupe rare, because you might be starting from the re-rolled cat, and in that case you need to look at the second row.</li>
  <li>Highlighting the rolling path is done for 8.6+. Try clicking on the cells.</li>
  <li>The super duper edge case for duplicated collaborate rare cats has been fixed. Everything should be predicted correctly now.</li>
  <li>8.6+ is no longer considered experimental. There are still improvements I want to make, but all the basic functionalities are there. Next I'll improve the highlighting that it'll only highlight the exact cats you'll get.</li>
</ul>

<%= header(2, "2019-08-06") %>
<ul>
  <li>The weird hacky <code>next_seed</code> mode is now dropped, because the seed seeker can properly handle that now.</li>
</ul>

<%= header(2, "2019-07-28") %>
<ul>
  <li>Sorry for the long wait. I have been pretty busy recently :(</li>
  <li>Added a section about known bugs in this page.</li>
  <li>The bug that giving a wrong re-rolled cat upon duplicated collaborate rare cat has been fixed.</li>
  <li>
    The bug had two consequences:
    <ol>
      <li>It might give the wrong re-rolled cat upon duplicated collaborate rare cat.</li>
      <li>It might give you the wrong destination, not just wrong cat.</li>
    </ol>
  </li>
  <li>You can check seed <a href="/?seed=1815690119&event=2019-07-18_391">1815690119</a> to observe this. On 6A, the re-rolled cat should move you to 8A, rather than 7B. On 10A, now it's giving you a Tin cat rather than Mari cat, but move you to the same destination.</li>
</ul>

<%= header(2, "2019-06-22") %>
<ul>
  <li>For seeking the seed, use 8.5 and hope you don't run into a duplicated cat. 8.6 is disabled for seeking the seed for now, because it's not working properly.</li>
</ul>

<%= header(2, "2019-06-13") %>
<ul>
  <li>Since 8.6 is released for EN/TW/KR, we decided to put up a workaround for showing guaranteed ubers before an actual solution is done:</li>
  <ul>
    <li>The default version is now switched to 8.6+ (experimental). It's still marked as experimental because guaranteed columns are not properly done yet.</li>
    <li>The workaround is that now we allow you to simulate the guaranteed ubers with just 2 rolls. This means the guaranteed uber showed in 10A will be the same as the old guaranteed uber showed in 1A, assuming that you didn't have any duplicated rare cats sitting in the middle, switching your tracks. This will be accurate if you know what you're doing.</li>
    <li>Consult with an expert on this if you don't understand.</li>
    <li>Highlighting is not done for 8.6+ yet.</li>
  </ul>
</ul>

<%= header(2, "2019-06-05") %>
<ul>
  <li>More updates for the experimental 8.6+ support. Keep in mind it might not be always correct!</li>
  <ul>
    <li>Now you'll know which re-rolled cat you'll get.</li>
    <li>A lot of edge cases are properly handled now.</li>
    <li>Highlighting and guaranteed uber is still working in progress.</li>
    <li>Seed seeking will not be worked on before we're sure the tracking is correct.</li>
  </ul>
</ul>

<%= header(2, "2019-06-02") %>
<ul>
  <li>Added experimental 8.6+ support. Keep in mind it might not be always correct!</li>
  <ul>
    <li>When the same rare cat was rolled in a row, the game will not just give you a fixed rare cat now, it'll instead move the seed at least once (we don't know if it's always just once yet) to roll another rare cat for you, therefore it'll <strong>switch your track!</strong></li>
    <li>We don't know how the newly re-rolled rare cat is determined for now, nor do we know if this will affect another re-roll when the next cat happens to be the same as the re-rolled cat again.</li>
    <li>The page will now try to remember the last cat you rolled, making sure 1A can be determined correctly. 1B is ignored in this case.</li>
    <li>Highlighting is disabled for 8.6+ for now, because it might not be accurate due to switching upon duplicated rare.</li>
    <li>Guaranteed roll is disabled for 8.6+ as well, again because it might not be accurate due to switching upon duplicated rare in the middle.</li>
    <li>You can still get the same super rare cat in a row. The same is assumed for ubers and legendary cats. Only rare cats have this re-rolling effect.</li>
  </ul>
  <li>The page will now remember what's your last rolled cat. This will be used for the experimental 8.6+ support, but it has no use prior to 8.6.</li>
</ul>

<%= header(2, "2019-05-27") %>
<ul>
  <li>Updated version option so that 8.5 is just 8.5. It doesn't work for 8.6</li>
  <li>Show the slot code as the prefix for seed seeking.</li>
</ul>

<%= header(2, "2019-04-25") %>
<ul>
  <li>Added an option to select the version. Both 8.4 and 8.5 should work.</li>
</ul>

<%= header(2, "2019-03-03") %>
<ul>
  <li>Fixed a bug crashing help page if details is checked.</li>
</ul>

<%= header(2, "2019-02-12") %>
<ul>
  <li>Add a third link in the seeking result if 10 cats were filled.</li>
  <li>Help messages for seeking the seed is updated accordingly.</li>
</ul>

<%= header(2, "2019-02-06") %>
<ul>
  <li>Update event data for 8.2 for BCEN and BCTW.</li>
  <li>Add support for BCKR.</li>
</ul>

<%= header(2, "2019-01-30") %>
<ul>
  <li>
    Cache for TSV files raised from 300 seconds to 600 seconds.
    Use curl or JSON if you can't wait for it to expire.
  </li>
</ul>

<%= header(2, "2019-01-26") %>
<ul>
  <li>
    I won't update this page merely for event data update any more.
    Not worth the troubles.
  </li>
  <li>Now we serve event data links in this page.</li>
  <li>
    Remove 世界一即戦力になるにゃんこ達！ which lasts to 2030 for BCJP because
    that's for older version (8.1-) and we have another properly scheduled
    event for it, too.
  </li>
  <li>More margin-bottom for ul, remove hr.</li>
  <li>Now we preserve as much as arguments on query string.</li>
  <li>Merge simulation for guaranteed into the same row with find cats.</li>
  <li>Remove unuseful home page link in the bottom.</li>
</ul>

<%= header(2, "2019-01-11") %>
<ul>
  <li>Update BCEN and BCTW event data</li>
  <li>Update data source link to GitLab</li>
</ul>

<%= header(2, "2019-01-07") %>
<ul>
  <li>Update BCJP event data</li>
</ul>

<%= header(2, "2018-12-29") %>
<ul>
  <li>
    Use cell cursor for the table cell so it's more clear
    they are clickable.
  </li>
  <li>
    Add a new feature that we can click on the table cell and it'll highlight
    the rolled cats.
    <span class="picked">Stands for regularly rolled</span> cats, and
    <span class="picked_consecutively">stands for consecutively (11 or 15)
    rolled</span> cats. <span class="next_position">Indicates the next
    position</span> after the rolls. Highlights are not preserved for now
    because it's not very easy to implement based on the current approach.
    Maybe we can do that later if needed.
  </li>
  <li>Fix a bug that "Exclude guaranteed" wasn't preserved.</li>
  <li>
    Add white background to guaranteed column if there is a cat.
    This should make it more visually consistent.
  </li>
</ul>

<%= header(2, "2018-12-28") %>
<ul>
  <li>Add change log page with cat job icon</li>
  <li>Add titles to help page and seek page</li>
  <li>
    Slightly enlarge the sniper cat icon to make it more visually balanced
  </li>
</ul>

<%= header(2, "2018-12-27") %>
<ul>
  <li>
    Move the server under control of systemd from screen.
    This should greatly increase the stability of the site,
    because systemd will restart the server once it crashed.
    Previously, I have to restart it manually.
  </li>
</ul>

<%= header(2, "2018-12-26") %>
<ul>
  <li>
    Views are now rendered by tilt and it should improve the performance a bit
  </li>
  <li>
    Now views are also cached once the server started.
    This avoids crashing when the code is updated yet the server
    is not restarted yet. The server may not be restarted immediately if
    someone is trying to find the seed. So this should improve stability.
  </li>
  <li>Some smaller bugs and text are fixed/updated</li>
</ul>
