<% if route.path_info.match?(%r{\A/(?:cats(?:/\d+)?|logs|seek)?\z}) %>
<div class="options">
  <label for="lang_select" title="The Battle Cats app region">Region:</label>
  <select id="lang_select" name="lang" onchange="roll(this)">
    <option value="en" <%= selected_lang('en') %>>BCEN</option>
    <option value="tw" <%= selected_lang('tw') %>>BCTW</option>
    <option value="jp" <%= selected_lang('jp') %>>BCJP</option>
    <option value="kr" <%= selected_lang('kr') %>>BCKR</option>
  </select>

  <% if route.path_info.match?(%r{\A/(?:seek)?\z}) %>
  <label for="version_select" title="Seed tracking version">Version:</label>
  <select id="version_select" name="version" onchange="roll(this)">
    <option value="8.6" <%= selected_version('8.6') %>>8.6+</option>
    <option value="8.5" <%= selected_version('8.5') %>>8.5</option>
    <option value="8.4" <%= selected_version('8.4') %>>8.4</option>
  </select>
  <% else %>
  <%= hidden_inputs('version') %>
  <% end %>

  <% if route.path_info != '/logs' %>
  <label for="name_select" title="Evolution form used to display the cat's names">Name:</label>
  <select id="name_select" name="name" onchange="roll(this)">
    <option value="0" <%= selected_name(0) %>>Base</option>
    <option value="1" <%= selected_name(1) %>>Evolved</option>
    <option value="2" <%= selected_name(2) %>>True</option>
    <option value="3" <%= selected_name(3) %>>Ultra</option>
  </select>
  <% else %>
  <%= hidden_inputs('name') %>
  <% end %>

  <label for="ui_select" title="Default UI language will match the app region. You can pick a different language, too">UI language:</label>
  <select id="ui_select" name="ui" onchange="roll(this)">
    <option value="" <%= selected_ui('') %>>Default</option>
    <option value="en" <%= selected_ui('en') %>>
      EN (<%= BattleCatsRolls::L10n.proofreader('en') %>)
    </option>
    <option value="tw" <%= selected_ui('tw') %>>
      TW (<%= BattleCatsRolls::L10n.proofreader('tw') %>)
    </option>
    <option value="jp" <%= selected_ui('jp') %>>
      JP (<%= BattleCatsRolls::L10n.proofreader('jp') %>)
    </option>
    <option value="kr" <%= selected_ui('kr') %>>
      KR (<%= BattleCatsRolls::L10n.proofreader('kr') %>)
    </option>
  </select>

  <% if route.path_info == '/' || route.path_info.start_with?('/cats') %>
  <label for="theme_select" title="Color theme for highlighting">Theme:</label>
  <select id="theme_select" name="theme" onchange="roll(this)">
    <option value="" <%= selected_theme('') %>>Default</option>
    <option value="mkweb" <%= selected_theme('mkweb') %>>mkweb</option>
  </select>
  <% else %>
  <%= hidden_inputs('theme') %>
  <% end %>

  <% if route.path_info.start_with?('/cats/') && arg[:cat] %>
    <%= erb :stats_options %>
  <% elsif route.path_info == '/cats' %>
    <%= erb :filters %>
  <% else %>
    <%= hidden_inputs('advanced_filters', 'hide_wave', 'exclude_talents',
      'sum_no_wave', 'dps_no_critical', 'level') %>
  <% end %>
</div>
<% else %>
<%= hidden_inputs('lang', 'version', 'name',
  'advanced_filters', 'hide_wave', 'exclude_talents',
  'sum_no_wave', 'dps_no_critical', 'level') %>
<% end %>

<%= hidden_inputs('o') %>
