<div class="stat_options">
  <% if route.path_info == '/cats' %>
  <label for="advanced_filters_input">
    <input type="checkbox" id="advanced_filters_input" name="advanced_filters"
      <%= checked_advanced_filters %>
      onchange="roll(this)">
    Advanced filters
  </label>

  <label for="exclude_talents_input">
    <input type="checkbox" id="exclude_talents_input" name="exclude_talents"
      <%= checked_exclude_talents %>
      onchange="roll(this)">
    Exclude talents
  </label>
  <% else %>
  <%= hidden_inputs('advanced_filters', 'exclude_talents') %>
  <% end %>

  <% if arg[:cat] %>
  <label for="hide_wave_input">
    <input type="checkbox" id="hide_wave_input" name="hide_wave"
      <%= checked_hide_wave %>
      onchange="roll(this)">
    Hide wave/surge/explosion attacks
  </label>
  <% else %>
  <%= hidden_inputs('hide_wave') %>
  <% end %>

  <% if arg[:cat] || route.advanced_filters %>
  <label for="sum_no_wave_input">
    <input type="checkbox" id="sum_no_wave_input" name="sum_no_wave"
      <%= checked_sum_no_wave %>
      onchange="roll(this)">
    Discount wave/surge/explosion from DPS and damage sum
  </label>

  <label for="dps_no_critical_input">
    <input type="checkbox" id="dps_no_critical_input"
      name="dps_no_critical"
      <%= checked_dps_no_critical %>
      onchange="roll(this)">
    Discount critical strikes and savage blows from DPS
  </label>
  <% else %>
  <%= hidden_inputs('sum_no_wave', 'dps_no_critical') %>
  <% end %>
</div>

<div class="level_options">
  <% if arg[:cat] || route.advanced_filters %>
  <label for="level_input">Level:</label>
  <input
    type="number" id="level_input" name="level"
    value="<%= route.level %>"
    min="1"
    max="999"
    onclick="this.select()">
  <% else %>
  <%= hidden_inputs('level') %>
  <% end %>

  <% if cat = arg[:cat] %>
  Max <%= cat.max_level %>,
  Growth rate: <%= growth_rate(cat.growth) %>
  <% end %>
</div>
