<div class="table">
  <table><tbody>
    <tr>
      <th title="Label for this position">No.</th>
      <% if show_details %>
        <th title="The seed used to determine this row">Seed</th>
        <th title="The transformed value used to determine this row. This is only used in version 8.4 and prior">Value</th>
      <% end %>
      <% if show_details %>
        <th title="Score determines the rarity. Slot determines which cat it is amongst the same rarity">Score, slot</th>
      <% else %>
        <th title="Expected cat">Result</th>
      <% end %>
      <th title="Expected cat when rolling a guaranteed at this position">Guaranteed</th>
      <% if show_details %>
        <th>Alt. score, slot</th>
      <% else %>
        <th>Alt. result</th>
      <% end %>
      <th>Alt. guaranteed</th>
      <% if show_details %>
        <th>Seed</th>
        <th>Value</th>
      <% end %>
      <th>Alt. No.</th>
    </tr>

    <% each_ab_cat do |prev_b, (a, b)| %>
      <tr>
        <%= number_td(a, prev_b) %>
        <%= seed_tds(a.rarity_fruit, prev_b) %>
        <%= score_tds(a, prev_b) %>

        <% if prev_b %>
        <%= cat_tds(prev_b) %>
        <%= seed_tds(prev_b.slot_fruit, prev_b) %>
        <% else %>
        <% if show_details %>
        <td colspan="5">
        <% else %>
        <td colspan="3">
        <% end %>
          <a href="<%= uri_for_backtrack(2) %>">Backtrack</a>
        </td>
        <% end %>
      </tr>

      <% if pbr = prev_b&.rerolled %>
        <tr><%= cat_tds(pbr, :next) %></tr>
      <% end %>

      <tr>
        <%= seed_tds(a.slot_fruit, a) %>
        <%= cat_tds(a) %>

        <%= score_tds(b, a) %>

        <%= seed_tds(b.rarity_fruit, a) %>
        <%= number_td(b, a) %>
      </tr>

      <% if ar = a.rerolled %>
        <tr><%= cat_tds(ar, :next) %></tr>
      <% end %>
    <% end %>

    <tr>
      <% if show_details %>
        <td colspan="5"></td>
      <% else %>
        <td colspan="3"></td>
      <% end %>

      <% last_b = arg.dig(:cats, -1, -1) %>
      <%= cat_tds(last_b) %>
      <%= seed_tds(last_b.slot_fruit, last_b) %>
    </tr>
  </tbody></table>
</div>
